
*{
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Open Sans',sans-serif;
    color: rgb(255, 255, 255);
}

#menu li a:hover{
    background-color: rgb(187, 0, 0);
}

#menu{
    list-style-type: none;
    padding: 0;
    background-color: black;
}


#menu li{
    display: inline;
}

#menu li a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    

}

#menu li:last-child a{
    float:right;
    background-color: rgb(187, 0, 0)
    ;
}

.banner img{
    width: 100%;
    height: 570px;
}

body{
    background-color: black;
}
